@model IEnumerable<Mvc3Depot.Models.Product>

@{
    Layout = "~/Views/Shared/_DepotLayout.cshtml";
}

@section additionalJs {
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Depot.js")" type="text/javascript"></script>
}

@DepotHelper.NoticeArea(TempData["Notice"] as string)

<h2>Your Miskatonic Catalog</h2>

<!--p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ImageUrl
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr-->

@foreach (var item in Model) {
    <div class="entry">
        <img src="/Content@(item.ImageUrl)" alt="@item.Title" />
        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        <p>@Html.DisplayFor(modelItem => item.Description)</p>
        <div class="price_line">
            <span class="price">@Html.DisplayFor(modelItem => item.Price)</span>
            @using (Ajax.BeginForm("Create", "Cart", new AjaxOptions
            {
                UpdateTargetId = "cart",
                OnBegin = "hideNotice",
                OnComplete = "blindDownCart",
                OnSuccess = "highlightCurrentItem"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("ProductId", item.ProductId)
                <input type="submit" value="AddToCart" />
            }
        </div>
    </div>
}

<!--/table-->
