<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Miskatonic Books Online Store</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Depot.css")" rel="stylesheet" type="text/css" />
    @RenderSection("additionalCss", false)
    <script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.7.1.js")" type="text/javascript"></script>
    @RenderSection("additionalJs", false)
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>@(ViewBag.Title ?? "Miskatonic Bookshelf")</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Listing Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("Listing Orders", "Index", "Orders")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
