@using PagedList.Mvc;
@using PagedList;
@*model IEnumerable<Mvc3Depot.Models.Order>*@
@model IPagedList<Mvc3Depot.Models.Order>
           
@section additionalCss {
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
}

<h2>Listing Orders</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            Email
        </th>
        <th>
            PayType
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @DepotHelper.PayTypeName(item.PayType)
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page + 1 }))
